interface:
{{#mobile}}
  display_name: "Set Up Mobile Product"
  short_description: "Turn this repository into your mobile app"
  default_prompt: "Use $setup to set up this repository from my mobile product idea."
{{/mobile}}
{{#web}}
  display_name: "Set Up Web Product"
  short_description: "Turn this repository into your web product"
  default_prompt: "Use $setup to set up this repository from my product idea."
{{/web}}
policy:
  allow_implicit_invocation: false
